* {
    -webkit-user-select: none;
    user-select: none;
}
.g-doc {
    padding-top: 50px;
    /*background-color: green;*/
}
.g-hd {
    font-size: 20px;
    line-height: 20px;
    font-family: Microsoft yahei;
    text-align: center;
    font-weight: bolder;
}
.m-hosts {
    padding: 20px;
}
.m-hosts .item {
    border: 2px solid #33CC8F;
    margin: 5px;
    padding: 5px;
    background-color: #33CC8F;
    border-radius: 5px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    float: left;
    cursor: pointer;
}

.m-hosts .item.selected {
    border-color: black;
}

.m-hostContent {
    clear: both;
    padding: 20px;
    line-height: 20px;
    font-size: 15px;
}
